.video-player-container {
    position: fixed;
    padding-bottom: 40px;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
